{% extends "layout.html" %}
{% block titulo %}
Bienvenido a mi pagina
{% endblock %}

{% block contenido %}


 <!-- About Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="static/img/home.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Acerca de nosotros</h5>
                    <h1>Analizamos la calidad de la información</h1>
                </div>
                <p>Nosotros, un grupo de estudiantes de la Escuela Politécnica Ing. Jorge Matute Remus, nos hemos unido con el firme propósito de explorar el vasto océano de internet. Nuestra misión va más allá de simplemente navegar por la red; nos dedicamos a analizar con detenimiento cada rincón digital que encontramos. Nos comprometemos a verificar y comparar la información de los sitios web, buscando siempre la veracidad y relevancia. Con dedicación y pasión, ofrecemos críticas constructivas y calificaciones honestas, contribuyendo así a la mejora continua de la calidad en línea</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Miembros</h5>
            <h1>Equipo alfa buena maravilla onda dinamita escuadrón lobo</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="static/img/adrian.jpeg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.facebook.com/adrian.martinezsaldana.5?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>            
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Adrian Martinez</h5>
                        <p class="m-0">Frontend developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="static/img/monse.jpeg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/vichavez_?igsh=d2trdWlocm83aWdk"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Monse Chavez</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="static/img/santi.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.linkedin.com/in/santiago-robles-amaro-b27681205/"><i class="fab fa-linkedin"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="https://github.com/Santiago2287"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Santiago Robles</h5>
                        <p class="m-0">Backend Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="static/img/scarlet.JPG" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/scarlett_rivera?igsh=Y2F4bTJ2cjF4azI5"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Scarlet Rivera</h5>
                        <p class="m-0">Layout Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}